apiVersion: v1
kind: Secret
metadata:
  name: repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  project: playground
  url: https://github.com/gnumilanix/production-ready-voting-app.git
  username: gnumilanix
  password: "{{ lookup('env', 'ARGOCD_REPO_TOKEN') }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
data:
  name: YXJnbw==
  project: cGxheWdyb3VuZA==
  type: aGVsbQ==
  url: aHR0cHM6Ly9hcmdvcHJvai5naXRodWIuaW8vYXJnby1oZWxt